<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>company</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/static/css/DashBoard-light-boostrap1.css">
    <link rel="stylesheet" href="/static/css/DashBoard-light-boostrap2.css">
    <link rel="stylesheet" href="/static/css/DashBoard-light-boostrap4.css">
    <link rel="stylesheet" href="/static/css/DashBoard-light-boostrap3.css">
    <link rel="stylesheet" href="/static/css/Article-List.css">
    <link rel="stylesheet" href="/static/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/static/css/DashBoard-light-boostrap.css">
    <link rel="stylesheet" href="/static/css/Header-Blue.css">
    <link rel="stylesheet" href="/static/css/Pretty-Header.css">
    <link rel="stylesheet" href="/static/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/static/css/megamenu-dark.css">
    <link rel="stylesheet" href="/static/css/megamenu-dark1.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Search1.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body style="height:1330px;">
    <div></div>
    <div>
        <nav class="navbar navbar-default navigation-clean-button">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="/">可时科技</a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="/">首页 </a></li>
                        <li role="presentation"><a href="/sales/salesclue">线索管理 </a></li>
                        <li role="presentation"><a href="/sales/salescontract">合同管理 </a></li>
                        <li role="presentation"><a href="#">我的项目 </a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">职能部门 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="/sales/sales">销售部 </a></li>
                                <li role="presentation"><a href="#"> 售前部</a></li>
                                <li role="presentation"><a href="#">研发部 </a></li>
                                <li role="presentation"><a href="#">设计部 </a></li>
                                <li role="presentation"><a href="#">生产部 </a></li>
                                <li role="presentation"><a href="#">采购部 </a></li>
                                <li role="presentation"><a href="#">生产部 </a></li>
                                <li role="presentation"><a href="#">厂内测试部 </a></li>
                                <li role="presentation"><a href="#">质检部 </a></li>
                                <li role="presentation"><a href="#">发货部 </a></li>
                                <li role="presentation"><a href="#">工程部 </a></li>
                                <li role="presentation"><a href="#">技术支持部 </a></li>
                                <li role="presentation"><a href="#">人力资源部 </a></li>
                                <li role="presentation"><a href="#">市场部 </a></li>
                                <li role="presentation"><a href="#">综合管理部 </a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="navbar-text navbar-right actions"> <a class="btn btn-default action-button" role="button" href="#">Sign Up</a></p>
                    <form class="navbar-form navbar-left" target="_self">
                        <div class="form-group"><label class="control-label" for="search-field"><i class="glyphicon glyphicon-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                    </form>
            </div>
    </div>
    </nav>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <caption class="lead bg-primary">线索表 </caption>
                <thead>
                    <tr>
                        <th>序号 <span class="caret"></span></th>
                        <th style="width:150px;">线索编号 <span class="caret"></span></th>
                        <th style="width:263px;">线索名称 <span class="caret"></span></th>
                        <th style="width:144px ;">线索状态 <span class="caret"></span></th>
                        <th>下一步工作 <span class="caret"></span></th>
                        <th>最后更新时间<span class="caret"></span> </th>
                        <th>查看更多 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>KSCL2018LN1023 </td>
                        <td>辽宁希望科技集团项目管理系统 </td>
                        <td>前期跟踪 </td>
                        <td>与技术部王中方做技术交流 </td>
                        <td>2018-1-20 15:20:45</td>
                        <td class="info"><a href="sales_department/sales_clue.html"><strong>更</strong></a><a href="sales_clue.html"><strong>多</strong></a><strong> </strong></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>KSCL2018XJ0124 </td>
                        <td>新疆底色有限公司CRM系统 </td>
                        <td>得到用户认同 </td>
                        <td>Cell 4</td>
                        <td>2018-1-20 14:10:20</td>
                        <td class="info"><strong>更多</strong> </td>
                    </tr>
                    <tr>
                        <td>3 </td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                        <td>Cell 7</td>
                    </tr>
                    <tr>
                        <td>4 </td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                        <td>Cell 7</td>
                    </tr>
                    <tr>
                        <td>5 </td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                        <td>Cell 7</td>
                    </tr>
                    <tr>
                        <td>6 </td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                        <td>Cell 7</td>
                    </tr>
                    <tr>
                        <td>7 </td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                        <td>Cell 7</td>
                    </tr>
                    <tr>
                        <td>8 </td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                        <td>Cell 7</td>
                    </tr>
                    <tr>
                        <td>9 </td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                        <td>Cell 7</td>
                    </tr>
                    <tr>
                        <td>10 </td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                        <td>Cell 7</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav class="centre">
        <ul class="pagination">
            <li><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>5</a></li>
            <li><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
    <footer style="margin:650px 0px 0px;height:220px;padding:50px 50px;background-color:rgb(154,197,239);">
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3 style="margin:0px;"><a href="#">Keshi <span>Tech </span></a></h3>
                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                <p class="company-name">Company Name © 2015 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +1 555 123456</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#">support@company.com</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/DashBoard-light-boostrap2.js"></script>
    <script src="/static/js/DashBoard-light-boostrap.js"></script>
    <script src="/static/js/DashBoard-light-boostrap1.js"></script>
    <script src="/static/js/DashBoard-light-boostrap4.js"></script>
    <script src="/static/js/DashBoard-light-boostrap3.js"></script>
    <script src="/static/js/bs-animation.js"></script>
    <script src="/static/js/megamenu-dark.js"></script>
</body>

</html>
