<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KESHI-TECH</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/user.css">
    <link rel="stylesheet" href="/static/css/Article-List.css">
    <link rel="stylesheet" href="/static/css/Pretty-Header.css">
    <link rel="stylesheet" href="/static/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/static/css/Header-Blue.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Search1.css">
    <link rel="stylesheet" href="/static/css/Simple-Slider.css">
    <link rel="stylesheet" href="/static/css/Team-Grid.css">
</head>

<body>
    <div></div>
    <div>
        <nav class="navbar navbar-default navigation-clean-search" style="color:#40c3ac;">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">keshI TECH</a>
                    <button class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="#">首页</a></li>
                        <li role="presentation"><a href="#">公司新闻</a></li>
                        <li role="presentation"><a href="#">体系结构 </a></li>
                        <li class="dropdown">
                            <a class="text-primary dropdown-toggle"
                               data-toggle="dropdown"
                               aria-expanded="false" href="#">各部门网站 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="#">人力资源部</a></li>
                                <li role="presentation"><a href="#">销售部</a></li>
                                <li role="presentation"><a href="#">售前部</a></li>
                                <li role="presentation"><a href="#">设计部</a></li>
                                <li role="presentation"><a href="#">采购部</a></li>
                                <li role="presentation"><a href="#">生产部</a></li>
                                <li role="presentation"><a href="#">研发部</a></li>
                                <li role="presentation"><a href="#">测试部</a></li>
                                <li role="presentation"><a href="#">质量部</a></li>
                                <li role="presentation"><a href="#">出厂测试部</a></li>
                                <li role="presentation"><a href="#">工程部</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" target="_self">
                        <div class="form-group">
                            <label class="control-label" for="search-field">
                                <i class="glyphicon glyphicon-search"></i>
                            </label>
                            <input class="form-control search-field"
                                   type="search" name="search"
                                   placeholder="请输入搜索内容..."
                                   autofocus=""
                                   autocomplete="on"
                                   id="search-field">
                        </div>
                    </form>
                    <a class="btn btn-default navbar-btn navbar-right action-button" role="button" href="#">请登录</a></div>
    </div>
    </nav>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>快速入口</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>合同线索</td>
                                </tr>
                                <tr>
                                    <td>项目进度</td>
                                </tr>
                                <tr>
                                    <td>物料查询</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="list-group">
                        <a class="list-group-item" href="#"><span>文章标题1</span></a>
                        <a class="list-group-item" href="#"><span>文章标题2</span></a>
                        <a class="list-group-item" href="#"><span>文章标题3</span></a>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="table-responsive show">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>会议室</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>春雨</td>
                                </tr>
                                <tr>
                                    <td>夏夜</td>
                                </tr>
                                <tr>
                                    <td>秋露</td>
                                </tr>
                                <tr>
                                    <td>冬雪</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <caption class="text-center table-bordered">看板</caption>
                            <thead>
                                <tr>
                                    <th>销售线索</th>
                                    <th>售前项目</th>
                                    <th>设计项目</th>
                                    <th>采购订单</th>
                                    <th>生产订单</th>
                                    <th>测试项目</th>
                                    <th>厂测项目</th>
                                    <th>现场项目</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                </tr>
                            </tbody>
                        </table>
        </div>
        </div>
    </div>
        </div>
            </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bs-animation.js"></script>
    <script src="/static/js/Simple-Slider.js"></script>
</body>

</html>